
<div >
  <h2>Add User</h2>
<table border="1px solid black">
  <tr>
    <td>Username</td>
    <td><input type="text" placeholder="Enter Username" [(ngModel)]="user.username"/></td>
  </tr>
  <tr>
    <td>Password</td>
    <td><input type="password" placeholder="Enter Password" [(ngModel)]="user.password"/></td>
  </tr>
  <tr>
    <td>Phone Number</td>
    <td><input type="text" placeholder="Enter Phone Number" [(ngModel)]="user.phone_number"/></td>
  </tr>
  <tr>
    <td>Role</td>
    <td>
      <select [(ngModel)]="user.role">
        <option selected>tech mentor</option>
        <option>employee</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>Skills</td>
    <td><input type="text" placeholder="Enter Skills" [(ngModel)]="user.skills"/></td>
  </tr>
  <tr>
    <td colspan="2"><input type="submit" value="Register" id="tbbtn"  (click)="addUser(user)"></td>
  </tr>
</table>
</div>