<html>
  <head>
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
	<!-- Start WOWSlider.com HEAD section --> <!-- add to the <head> of your page -->
	<link rel="stylesheet" type="text/css" href="assets/engine1/style.css" />
	<script type="text/javascript" src="assets/engine1/jquery.js"></script>
	<!-- End WOWSlider.com HEAD section -->

  </head>
  <body>
  <!-- Start WOWSlider.com BODY section --> <!-- add to the <body> of your page -->
    <div id="wowslider-container1">
      <div class="ws_images"><ul>
        <li><img src="assets/data1/images/niitfive.jpg" alt="niitfive" title="niitfive" id="wows1_0"/></li>
        <li><img src="assets/data1/images/niitfour.jpg" alt="niitfour" title="niitfour" id="wows1_1"/></li>
        <li><a href="http://wowslider.net"><img src="assets/data1/images/niitzero.png" alt="javascript slideshow" title="niitzero" id="wows1_2"/></a></li>
        <li><img src="assets/data1/images/two.jpg" alt="two" title="two" id="wows1_3"/></li>
      </ul></div>
    <div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">image carousel</a> by WOWSlider.com v8.8</div>
      <div class="ws_shadow"></div>
      </div>	
      <script type="text/javascript" src="assets/engine1/wowslider.js"></script>
      <script type="text/javascript" src="assets/engine1/script.js"></script>
      <!-- End WOWSlider.com BODY section -->
      <br><br><br>
      <div align="center">
          <p>
          NIIT Limited is an Indian Multinational company that offers 
          learning management and training delivery solutions to corporations,
          institutions and individuals. It has three main lines of business worldwide:
          Corporate Learning Group (CLG), Skills and Careers Group (SNC), and School 
          Learning Group (SLG).
          </p>
          <p>
          In 2006, the IT services business of NIIT was demerged into a separately
          listed company NIIT Technologies.[5] NIIT Limited now focuses on Corporate
          Training, Vocational Training for Services Sectors and Education and Training
           in Schools. NIIT Limited owns 23.98% of NIIT Technologies
        </p>
      </div>
  </body>
  </html>